<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.png' %>
  </div>
 
  <div id="content">
    <h1>Hi, I'm Randy Mitchell</h1>

    <p>I'm an entrepreneur with experience in product, design, development and digital media. I've worked with clients including AT&T U-Verse, Converse, AngelHack and OfficeHours.</p>

    <p>I also founded a company called Plisten, a web and mobile app, that helps people connect with their favorite brands. My startup was accepted into NewMe, a Silicon Valley-based accelerator, sponsored by Google and Andreessen Horowitz. I was fortunate to be covered by national and local press, most notably on TechCrunch, Huffington Post, BET & VentureBeat.</p>
    
    <p>I'm incredibly passionate about every aspect of technology, and in understanding the nature and complexities of the products that drive it -- from business case and market analysis, to UX, design and development.</p>

    <p>I'm currently teaching myself full stack Rails development, spending on average 1-4 hrs, 3-4 days per week, sometimes more to hone and perfect the craft. This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>

    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/randyjmitchell" target="_blank">@RandyJMitchell</a> or on the web at <a href="http://randyjmitchell.com" target="_blank">randyjmitchell.com</a></p>
  </div>
</div>